.modal-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s;

  &.open {
    pointer-events: auto;
    opacity: 1;
  }

  &:before {
    @media (width >= 1024px) {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.8;
    }
  }
}

.modal-close {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  @media (width < 1024px) {
    top: 22px;
    right: 18px;
    width: 21px;
  }
  @media (width >= 1024px) {
    top: 28px;
    right: 28px;
  }

  img {
    display: block;
  }
}

.modal-wrapper {
  background: var(--color-dawn-yellow);
  position: absolute;
  @media (width < 1024px) {
    left: 0;
    right: 0;
    top: 34px;
    bottom: 0;
    padding: 0 14px;
  }
  @media (width >= 1024px) {
    left: 2vw;
    right: 2vw;
    top: 28px;
    padding: 30px 28px 60px;
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
  }
  @media (width >= 1356px) {
    left: calc(50% - 650px);
    right: calc(50% - 650px);
  }
}

.modal-content {
  margin-bottom: 2rem;
  @media (width >= 1024px) {
    max-width: 22.22vw;
  }
}

.modal-content-inner {
  position: relative;
  @media (width >= 1024px) {
    min-height: 54.2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &:before {
    @media (width >= 1024px) {
      content: "";
      position: absolute;
      left: -14px;
      width: 1px;
      height: 100%;
      background: #000;
    }
  }
}

.modal-logo-wrapper {
  @media (width < 1024px) {
    padding-top: 20px;
    margin-bottom: 54px;
  }
  @media (width >= 1024px) {
    margin-bottom: 32px;
  }

  img {
    display: block;
    @media (width < 1024px) {
      max-width: 98px;
    }
  }
}

.modal-text {
  h2 {
    @media (width >= 1024px) {
      font-size: 2.63vw;
    }
    @media (width >= 1700px) {
      font-size: 56px;
    }
  }

  p {
    @media (width >= 1700px) {
      font-size: 22px;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.modal-form {
  display: flex;
  align-items: flex-end;
}
