.paragraph--type--full-width-image {
  height: 125vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (width >= 768px) {
    height: 60vh;
  }
  @media (width >= 1024px) {
    background-attachment: fixed;
    height: 100vh;
  }
}
