.paragraph--type--title-and-text {
  padding: 60px 0;
  position: relative;
  @media (width >= 1024px) {
    padding: 5.6vw 0 9.7vw;
  }

  &.white {
    background-color: #fff;
  }

  &.dawn_yellow {
    background-color: var(--color-dawn-yellow);
  }

  &.sky_blue_light {
    background-color: var(--color-sky-blue-light);
  }

  &.earth_gray {
    background-color: var(--color-earth-gray);
  }

  &.earth_brown {
    background-color: var(--color-earth-brown);
  }

  &.over_lines {
    @media (width >= 1024px) {
      z-index: 2;
    }
  }

  &.over_center_line {
    @media (width >= 1024px) {
      z-index: 1;
    }
  }

  .tt-container {
    @media (width >= 1024px) {
      display: flex;
      gap: 2vw;
    }
  }

  .tt-column-one {
    @media (width >= 1024px) {
      width: calc(50% - 14px);
    }
  }

  .tt-column-two {
    @media (width >= 1024px) {
      width: calc(50% - 14px);
    }
  }

  .tag-and-title-wrapper {
    @media (width >= 1024px) {
      margin-left: 16.2vw;
      max-width: 26.4vw;
    }
  }

  .tt-tag {
  }

  .tt-title {
    @media (width >= 1024px) {
      margin: 0;
    }
  }

  .text-wrapper {
    @media (width >= 1024px) {
      max-width: 38.9vw;
    }

    ul {
      margin: 0;
      padding: 0 0 0 22px;
    }
  }
}

#ground-infrastructure {
  @media (width < 1024px) {
    padding-bottom: 260px;
  }
  @media (width >= 1024px) {
    padding-bottom: 16vw;
  }
}

.ground-infra-overlay-image {
  position: absolute;
  bottom: 0;
  @media (width < 1024px) {
    width: 100%;
    transform: translateY(38%);
    max-width: 240px;
    left: 14px;
  }
  @media (width >= 1024px) {
    right: 52%;
    width: 30%;
    transform: translateY(29%);
  }
}
